body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}


a {
    color: darkgreen;
    text-decoration: none;
}

h1{
    background-color: chartreuse;
    align-items: center;
}


